@model IEnumerable<Model4You.Web.ViewModels.Blog.BlogViewModel>
<div class="col-lg-4 sidebar ftco-animate">
<div class="sidebar-box ftco-animate">
    <h3>Other Articles</h3>
    @foreach (var blog in Model)
    {
        <div class="block-21 mb-4 d-flex">
            <a class="blog-img mr-4" href="@blog.Url" style="background-image: url(@blog.ImageUrl);"></a>
            <div class="text">
                <h3 class="heading"><a href="@blog.Url">@blog.Title</a></h3>
                <div class="meta">
                    <div><a href="@blog.Url"><span class="icon-calendar"></span> <time datetime="@blog.CreatedOn.ToString("O")"></time></a></div>
                    <div><a href="@blog.Url"><span class="icon-person"></span>Admin</a></div>
                </div>
            </div>
        </div>
    }

</div>
</div>
