@model Model4You.Web.ViewModels.Blog.BlogIndexViewModel
@{
    this.ViewData["Title"] = "Blog";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Topmodel - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>

    <section class="hero-wrap hero-wrap-2" style="background-image:url(/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">Our Latest Articles</h1>
                </div>

            </div>
        </div>
    </section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <div class="row">
                    @foreach (var blog in Model.BlogViewModels)
                    {
                        <div class="col-md-6 ftco-animate">
                            <div class="blog-entry" data-aos-delay="200">
                                <a href="@blog.Url" class="block-20" style="background-image: url('@blog.ImageUrl');">
                                </a>
                                <div class="text d-flex py-4">
                                    <div class="meta mb-3">
                                        <div><a href="@blog.Url"><time datetime="@blog.CreatedOn.ToString("O")"></time></a></div>
                                        <div><a href="@blog.Url">Admin</a></div>
                                    </div>
                                    <div class="desc pl-3">
                                        <h3 class="heading"><a href="@blog.Url">@blog.Title</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div class="row mt-5">
                    <div class="col text-center">
                        <div class="block-27">
                            @if (Model.PagesCount > 0)
                            {
                                <ul class="pagination">
                                    <li><a href="/Blog/Blog?page=@Model.PreviousPage"></a></li>
                                    @for (int i = 1; i <= Model.PagesCount; i++)
                                    {
                                        if (i == Model.CurrentPage)
                                        {
                                            <li class="active"><a href="/Blog/Blog?page=@i">@i</a></li>
                                        }
                                        else
                                        {
                                            <li><a href="/Blog/Blog?page=@i">@i</a></li>
                                        }
                                    }
                                    <li><a href="/Blog/Blog?page=@Model.NextPage"></a></li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div> <!-- .col-md-8 -->
            <partial name="_SideBlogPartial" model="Model.SideBlogViewModels" />
        </div>
    </div>
</section>

<!-- .section -->
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>

</body>

</html>
