@model Model4You.Web.ViewModels.BindingModels.BlogArticleBindingViewModel
@{
    this.ViewData["Title"] = @Model.BlogContentView.Title;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Topmodel - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>

<body>

    <section class="hero-wrap hero-wrap-2" style="background-image:url(/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">@Model.BlogContentView.Title</h1>
                    <h2>Article Page</h2>
                </div>

            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ftco-animate">
                    <h2 class="mb-3">@Model.BlogContentView.Title</h2>
                    <p>@Html.Raw(Model.BlogContentView.SanitizedContent)</p>

                    <div class="pt-5 mt-5">
                        <h3 class="mb-5">@Model.BlogContentView.BlogComments.Count Comments</h3>
                        <ul class="comment-list">

                            @*<div class="vcard bio">
                                    <img src="images/person_1.jpg" alt="Image placeholder">
                                </div>*@

                            @foreach (var comment in Model.BlogContentView.BlogComments)
                            {
                                <li class="comment">
                                    <div class="comment-body">
                                        <h3>@comment.Name</h3>
                                        @*<div class="meta">@comment.CreatedOn</div>*@
                                        <div class="meta">
                                            <time datetime="@comment.CreatedOn.ToString("O")"></time>
                                        </div>
                                        <p>@comment.Content</p>
                                    </div>
                                    @*<p><a href="#" class="reply">Reply</a></p>*@
                                </li>
                            }
                        </ul>
                        <!-- END comment-list -->

                        <div class="comment-form-wrap pt-5">
                            <h3 class="mb-5">Leave a comment</h3>
                            <form asp-controller="Blog" asp-action="PostComment" method="post" class="p-5 bg-light">
                                <input type="hidden" asp-for="CommentInputModel.BlogContentId" value="@this.Model.BlogContentView.Id" />
                                <input type="hidden" asp-for="CommentInputModel.BlogId" value="@this.Model.BlogContentView.BlogId" />
                                <div class="form-group">
                                    <input asp-for="CommentInputModel.Name" class="form-control" placeholder="Your Name">
                                    <span asp-validation-for="CommentInputModel.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="CommentInputModel.Email" class="form-control" placeholder="Your Email">
                                    <span asp-validation-for="CommentInputModel.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <textarea name="CommentInputModel.Content" id="" cols="30" rows="7" asp-for="CommentInputModel.Content" class="form-control" placeholder="Your Comment"></textarea>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                                </div>

                            </form>
                        </div>
                    </div>

                </div> <!-- .col-md-8 -->
            </div>
        </div>
    </section> <!-- .section -->
    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>

</body>

</html>
