@model Model4You.Web.ViewModels.Administration.Dashboard.IndexViewModel
@{
    Layout = "~/Areas/Administration/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Topmodel - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">

</head>

<body>
    <h3>Questions from contact form</h3>
    <section class="ftco-section testimony-section">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    @*<th scope="col">#</th>*@
                    <th scope="col">Date received</th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Message</th>
                    <th scope="col"></th>
                    @*<th scope="col">View Booking</th>
                        <th scope="col">Delete Booking</th>*@
                </tr>
            </thead>
            <tbody>
            @*TODO Make a button for the deleted questions. Not important*@

            @foreach (var form in  Model.UnAnsweredQuestions)
            {
                <tr>
                    @*<th scope="row">1</th>*@
                    <td><time datetime="@form.CreatedOn.ToString("O")"></time></td>
                    <td>@form.Name</td>
                    <td>@form.Email</td>
                    <td>@form.Subject</td>
                    <td>@form.Message</td>
                    <td>
                        <a asp-controller="Dashboard" asp-action="Answered" asp-route-id="@form.Id">
                            <span class="btn btn-success" aria-hidden="true">Move to answered</span>
                        </a>
                    </td>

                </tr>
            }

            </tbody>
        </table>
    </section>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>

</body>

</html>