@model Model4You.Web.ViewModels.Inbox.InboxViewModel
@{
    this.ViewData["Title"] = "View Booking";
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Topmodel - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">

</head>

<body>

    <section class="hero-wrap hero-wrap-2" style="background-image:url(/images/bg_1.jpg);">
        <div class="overlay"></div>
        <div class="container">
            <div class="row slider-text justify-content-center align-items-center">
                <div class="col-md-7 col-sm-12 text-center ftco-animate">
                    <h1 class="mb-3 mt-5 bread">My Bookings</h1>
                </div>

            </div>
        </div>
    </section>

    <section class="ftco-section testimony-section">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    @*<th scope="col">#</th>*@
                    <th scope="col">Date received</th>
                    <th scope="col">Name</th>
                    <th scope="col">Company name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Mobile Number</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @*<th scope="row">1</th>*@
                    <td><time datetime="@Model.CreatedOn.ToString("O")"></time></td>
                    <td>@Model.FullName</td>
                    <td>@Model.CompanyName</td>
                    <td>@Model.Email</td>
                    <td>@Model.PhoneNumber</td>
            </tbody>
        </table>
    </section>

    <blockquote class="blockquote text-center">
        <h2>Description</h2>
        <p class="mb-0">@Model.HireDescription</p>
    </blockquote>

    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen">
        <svg class="circular" width="48px" height="48px">
            <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
            <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
        </svg>
    </div>

</body>

</html>